#map-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

#map {
    width: 100%;
    height: auto;
    display: block;
}

.logo-container {
    position: absolute;
    width: 3%; /* Ou une autre valeur relative */
    height: 3%; /* Ou une autre valeur relative */
    cursor: grab;
}

.logo {
    width: 100%;
    height: 100%;
}

.filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
    pointer-events: none; /* Permet de cliquer sur le logo en dessous */
}

.status-dot {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white; /* Pour la rendre visible quand elle est transparente */
}

.logo-container.dragging {
    cursor: grabbing;
}
